@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansItalicTrial-BulkyItalic.woff2') format('woff2'),
    url('../fonts/PolySansItalicTrial-BulkyItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansItalicTrial-BulkyWideItalic.woff2') format('woff2'),
    url('../fonts/PolySansItalicTrial-BulkyWideItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansItalicTrial-SlimItalic.woff2') format('woff2'),
    url('../fonts/PolySansItalicTrial-SlimItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansItalicTrial-MedianItalic.woff2') format('woff2'),
    url('../fonts/PolySansItalicTrial-MedianItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansItalicTrial-BulkyMonoItalic.woff2') format('woff2'),
    url('../fonts/PolySansItalicTrial-BulkyMonoItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansItalicTrial-MedianMonoItalic.woff2') format('woff2'),
    url('../fonts/PolySansItalicTrial-MedianMonoItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansItalicTrial-NeutralMonoItalic.woff2') format('woff2'),
    url('../fonts/PolySansItalicTrial-NeutralMonoItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansItalicTrial-NeutralWideItalic.woff2') format('woff2'),
    url('../fonts/PolySansItalicTrial-NeutralWideItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansItalicTrial-NeutralItalic.woff2') format('woff2'),
    url('../fonts/PolySansItalicTrial-NeutralItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansItalicTrial-MedianWideItalic.woff2') format('woff2'),
    url('../fonts/PolySansItalicTrial-MedianWideItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansTrial-Slim.woff2') format('woff2'),
    url('../fonts/PolySansTrial-Slim.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansItalicTrial-SlimWideItalic.woff2') format('woff2'),
    url('../fonts/PolySansItalicTrial-SlimWideItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansTrial-MedianMono.woff2') format('woff2'),
    url('../fonts/PolySansTrial-MedianMono.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansTrial-NeutralMono.woff2') format('woff2'),
    url('../fonts/PolySansTrial-NeutralMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansTrial-MedianWide.woff2') format('woff2'),
    url('../fonts/PolySansTrial-MedianWide.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansTrial-BulkyMono.woff2') format('woff2'),
    url('../fonts/PolySansTrial-BulkyMono.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansTrial-BulkyWide.woff2') format('woff2'),
    url('../fonts/PolySansTrial-BulkyWide.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansTrial-Median.woff2') format('woff2'),
    url('../fonts/PolySansTrial-Median.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansTrial-Neutral.woff2') format('woff2'),
    url('../fonts/PolySansTrial-Neutral.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansItalicTrial-SlimMonoItalic.woff2') format('woff2'),
    url('../fonts/PolySansItalicTrial-SlimMonoItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansTrial-Bulky.woff2') format('woff2'),
    url('../fonts/PolySansTrial-Bulky.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansTrial-NeutralWide.woff2') format('woff2'),
    url('../fonts/PolySansTrial-NeutralWide.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansTrial-SlimWide.woff2') format('woff2'),
    url('../fonts/PolySansTrial-SlimWide.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PolySans';
    src: url('../fonts/PolySansTrial-SlimMono.woff2') format('woff2'),
    url('../fonts/PolySansTrial-SlimMono.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}